/* src/pages/auth/Login.css */
.login-page {
  display: flex;
  width: 100%;
  background-color: #F0F2F5; /* Gris Clair */
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.closed {
  margin-left: 50px;
}

.main-content.open {
  margin-left: 200px;
}
