.vertical-navbar {
  position: fixed;
  height: 100vh;
  background-color: #1E90FF; /* Bleu Sécurité */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.vertical-navbar.closed {
  width: 50px;
}

.vertical-navbar.closed .category-title{
  display: none;
}

.vertical-navbar.open {
  width: 200px;
}

.toggle-button {
  background: none;
  border: none;
  color: #FFFFFF; /* Blanc */
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.category {
  margin-bottom: 10px;
}

.category-title {
  color: #FFFFFF; /* Blanc */
  font-size: 14px; /* Taille des sous-titres */
  padding: 8px 15px; /* Espacement */
  background-color: #0056b3; /* Couleur de fond pour le titre */
}

.category-title:first-letter {
  text-transform: uppercase; /* Première lettre en majuscule */
}

.navbar-links a {
  color: #FFFFFF; /* Blanc */
  text-decoration: none;
  padding: 15px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

.navbar-links a:hover {
  background-color: #0056b3; /* Couleur de survol */
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(1);
}
