/* src/components/VerticalNavbar.css */
.vertical-navbar {
  height: 100vh;
  background-color: #1E90FF; /* Bleu Sécurité */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.vertical-navbar.closed {
  width: 50px;
}

.vertical-navbar.open {
  width: 200px;
}

.toggle-button {
  background: none;
  border: none;
  color: #FFFFFF; /* Blanc */
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.navbar-links a {
  color: #FFFFFF; /* Blanc */
  text-decoration: none;
  padding: 15px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

.navbar-links a:hover {
  background-color: #0056b3; /* Couleur de survol */
}

.icon {
  width: 24px;
  height: 24px;
}
